<header>
  <div class="header-container">
    <div class="header-part">
      <h2><a href="#">IT</a>|<a href="#">EN</a></h2>
    </div>

    <div class="header-part">
      <%= image_tag "logo_pane_olio.png", class: "logo" %>
    </div>

    <div class="header-part">
      <h3 class="header-link"><a href="#">Find the event on Facebook</a></h3>
      <h3 class="header-link"><a href="#">Follow us on Instagram</a></h3>
      <h3 class="header-link"><a href="#">Become a Volunteer</a></h3>
    </div>
  </div>

  <div class="banner">
    <div class="box">
      <h1 class="date"> June 20 & 21, 2020 </h1>
      <h1 class="place"> Santadi, Sardinia </h1>
      <%= image_tag "bread.jpg", class: "banner-img"%>
    </div>
    <div>
      <ul class="navbar-menu">
          <li class="nav-item">
            <%= link_to "About", pages_about_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to "Program", pages_programm_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Info", pages_info_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", pages_contact_path, class: "nav-link" %>
          </li>
        </ul>
    </div>
  </div>

</header>
