<header>

<!--   HEADER | LOGO
 -->

<!--   BANNER - IMAGES
 -->
  <div class="banner">
    <div class="box">
      <%= image_tag "bread.jpg", class: "banner-img"%>
      <h1 class="date"> June 20 & 21, 2020 </h1>
      <h1 class="place"> Santadi, Sardinia </h1>
      <%= image_tag "right.png", class: "img-side right-img slide-in"%>
      <%= image_tag "left.png", class: "img-side left-img slide-in"%>
    </div>
  </div>

<!-- NAVBAR | MENU LINKS
 -->
  <div>
    <ul class="navbar-menu">
        <li class="nav-item">
          <%= link_to "About", pages_about_path, class: "nav-link" %>
        <li class="nav-item">
          <%= link_to "Program", pages_programm_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Info", pages_info_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", pages_contact_path, class: "nav-link" %>
        </li>
      </ul>
  </div>

</header>

<!-- body -->

<body>

<div class="category-grid">
  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1447279506476-3faec8071eee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
    <h1>FOOD</h1>
  </div>

  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1571500731237-20e2756e5d05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80)">
    <h1>OLIVE OIL</h1>
  </div>

  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2852&q=80)">
    <h1>BREAD</h1>
  </div>

  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1566601285191-be2695aeb592?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
    <h1>MUSIC</h1>
  </div>

  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1543520098-6b644b73c377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80)">
    <h1>OUTING</h1>
  </div>

  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1496769843785-93aa0be525dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
    <h1>ART</h1>
  </div>

  <div class="category-card" style="background-image: url(https://images.unsplash.com/photo-1457301608316-fc12b0d40dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
    <h1>KIDS</h1>
  </div>

</div>

</body>
